header.header-area
  .navbar-area.headroom
    .container
      .row
        .col-lg-12
          nav.navbar.navbar-expand-lg
            a.navbar-brand(href='')
              h2 SomeOneGetIn
            button.navbar-toggler(type='button')
              span.toggler-icon
              span.toggler-icon
              span.toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse.sub-menu-bar
              ul#nav.navbar-nav.m-auto
                li.nav-item
                  a(href='home') Home
                li.nav-item
                  a(href='register') Register Here 
                li.nav-item
                  a(href='employees') Employees Registrar
            // navbar collapse
          // navbar
      // row
    // container
  // navbar area
