doctype html
html
    head
        //- meta(charset='utf-8')
        // ====== Title ======
        title Consult - Business Consultancy Agency Template | Home
        //- meta(name='description' content='')
        //- meta(name='viewport' content='width=device-width, initial-scale=1')
            // ====== Favicon Icon ======
        link(rel='shortcut icon' href='/images/favicon.png' type='image/png')
        // ====== Font Awesome CSS ======
        link(rel='stylesheet' href='/css/font-awesome.min.css')
        // ====== Bootstrap CSS ======
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        // ====== Default CSS ======
        link(rel='stylesheet' href='/css/default.css')
        // ====== Style CSS ======
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='/reg-css/style.css')
    body 
        include _navbar

        block content 

        include _footer

        a.back-to-top(href='#')
            i.lni-chevron-up
        // ====== BACK TOP TOP PART ENDS ======
        // ====== Jquery js ======
        script(src='/js/vendor/jquery-1.12.4.min.js')
        script(src='/js/vendor/modernizr-3.7.1.min.js')
        // ====== Bootstrap js ======
        script(src='/js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        // ====== Slick js ======
        script(src='/js/slick.min.js')
        // ====== Isotope js ======
        script(src='/js/imagesloaded.pkgd.min.js')
        script(src='/js/isotope.pkgd.min.js')
        // ====== Counter Up js ======
        script(src='/js/waypoints.min.js')
        script(src='/js/jquery.counterup.min.js')
        // ====== Circles js ======
        script(src='/js/circles.min.js')
        // ====== Appear js ======
        script(src='/js/jquery.appear.min.js')
        // ====== WOW js ======
        script(src='/js/wow.min.js')
        // ====== Headroom js ======
        script(src='/js/headroom.min.js')
        // ====== Jquery Nav js ======
        script(src='/js/jquery.nav.js')
        // ====== Scroll It js ======
        script(src='/js/scrollIt.min.js')
        // ====== Magnific Popup js ======
        script(src='/js/jquery.magnific-popup.min.js')
        // ====== Main js ======
        script(src='/js/main.js')

