extends base    

block content
    header.header-area
      #home.header-hero.bg_cover.d-lg-flex.align-items-center(style='background-image: url(/images/header-hero.jpg)')
        .container
          .row
            .col-lg-7
              .header-hero-content
                h1.hero-title.wow.fadeInUp(data-wow-duration='1s' data-wow-delay='0.2s')
                  b We 
                  span Help
                  |  You to acheive 
                  b Growth.
                p.text.wow.fadeInUp(data-wow-duration='1s' data-wow-delay='0.5s')
                  | Phasellus vel elit efficitur, gravida libero sit amet, scelerisque  tortor arcu, commodo sit amet nulla sed.
          .header-singup.wow.fadeInUp.mt-25(data-wow-duration='1s' data-wow-delay='0.8s')
            button.main-btn
              a.text-white(href='register') Register Here

                
        .header-hero-image.d-flex.align-items-center.wow.fadeInRightBig(data-wow-duration='1s' data-wow-delay='1.1s')
          .image
            img(src='/images/hero-image.png' alt='Hero Image')
        // header hero image
      // header hero
